<a href="https://colab.research.google.com/github/Hassan-tariq-08/my-first-python-project/blob/main/Pandas_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**How to read and write data in dataframe**

In [28]:
import pandas as pd
# read data from csv into dataframe
# Encoding is a process of converting text into aformat that computer can stor and read
# encoding use two standards latin1 and "utf-8"
# with wrong encoding when reading file will give you error
# df=pd.read_csv("country_profile_trimmed.csv",encoding="latin1")
# print(df)

# how to identify the file type
# Commas or semicolons → CSV
# Curly braces {} → JSON
# Tabs or spaces → TXT or TSV

import magic
file_type=magic.from_file("country_profile_trimmed.csv")
print(file_type)
#  how to Convert a File from One Format to Another
#  Convert CSV → JSON
df=pd.read_csv("country_profile_trimmed.csv")
df.to_json("country_profile_trimmed.json",orient="records",lines=True)
file_type=magic.from_file("country_profile_trimmed.json")
print(file_type)
# Convert CSV → Excel (.xlsx)
df.to_excel("country_profile_trimmed.xlsx",index=False)
print(magic.from_file("country_profile_trimmed.xlsx"))

#   convert excel to csv
df.to_csv("converted")
print(magic.from_file("converted"))
# convert json to csv
df=pd.read_json("country_profile_trimmed.json",lines=True)
df.to_csv("converted(1).json")
# how to rename the file name with python
import os
os.rename("converted","converted.csv")
os.rename("converted(1).json","converted(1).csv")

CSV text

ValueError: 'lines' keyword only valid when 'orient' is records

In [37]:
import pandas as pd
df=pd.read_csv("country_profile_trimmed.csv")
df.to_json("1",orient="records",lines=True)
print(magic.from_file("1"))
data=pd.read_json("1")
print(data)

ValueError: 'lines' keyword only valid when 'orient' is records

In [39]:
import pandas as pd
# read data from csv into dataframe

df=pd.read_csv("country_profile_trimmed.csv",encoding="latin1")
# print(df)

# 1) Encoding is a process of converting text into aformat that computer can store and read
# encoding use two standards latin1 and "utf-8"
# with wrong encoding when reading file will give you error
# 2) if we have a very large file the we can divide it into small chumks and apply for loop
# 3) if we have data in cloud storage like google cloud storage to read the data from cloud storage we can use "gcsfs" library
df.to_excel("country.xlsx")
print(df)
df=pd.read_excel("country.xlsx")
print(df)

                       country          Region Surface area (km2)  \
0                  Afghanistan    SouthernAsia             652864
1                      Albania  SouthernEurope              28748
2                      Algeria  NorthernAfrica            2381741
3               American Samoa       Polynesia                199
4                      Andorra  SouthernEurope                468
..                         ...             ...                ...
224  Wallis and Futuna Islands       Polynesia                142
225             Western Sahara  NorthernAfrica             266000
226                      Yemen     WesternAsia             527968
227                     Zambia   EasternAfrica             752612
228                   Zimbabwe   EasternAfrica             390757

     Population in thousands (2017)  Population density (per km2, 2017)  \
0                             35530                                54.4
1                              2930                               106.9
2                             41318                             44272.0
3                                56                               278.2
4                                77                               163.8
..                              ...                                 ...
224                              12                                84.1
225                             553                             44198.0
226                           28250                                53.5
227                           17094                                23.0
228                           16530                                42.7

     Sex ratio (m per 100 f, 2017)  \
0                            106.3
1                            101.9
2                            102.0
3                            103.6
4                            102.3
..                             ...
224                           93.4
225                          110.1
226                          102.1
227                           98.5
228                           95.0

     GDP: Gross domestic product (million current US$)  \
0                                              20270.0
1                                              11541.0
2                                             164779.0
3                                                -99.0
4                                               2812.0
..                                                 ...
224                                              -99.0
225                                              -99.0
226                                            29688.0
227                                            21255.0
228                                            13893.0

    GDP growth rate (annual %, const. 2005 prices)  \
0                                             -2.4
1                                            44349
2                                            44411
3                                              -99
4                                              0.8
..                                             ...
224                                            -99
225                                            -99
226                                          -28.1
227                                          44441
228                                          44197

     GDP per capita (current US$) Economy: Agriculture (% of GVA)  \
0                           623.2                           44278
1                          3984.2                           44308
2                          4154.1                           44239
3                           -99.0                             -99
4                         39896.4                             0.5
..                            ...                             ...
224                         -99.0                             -99
225                         -99.0                             -99
226                        1106.4                           44391
227                        1311.1                           44235
228                         890.4                            13.0

     Economy: Industry (% of GVA)
0                         44278.0
1                            26.0
2                            37.3
3                           -99.0
4                         44418.0
..                            ...
224                         -99.0
225                         -99.0
226                          36.9
227                          32.3
228                       44346.0

[229 rows x 11 columns]
     Unnamed: 0                    country          Region Surface area (km2)  \
0             0                Afghanistan    SouthernAsia             652864
1             1                    Albania  SouthernEurope              28748
2             2                    Algeria  NorthernAfrica            2381741
3             3             American Samoa       Polynesia                199
4             4                    Andorra  SouthernEurope                468
..          ...                        ...             ...                ...
224         224  Wallis and Futuna Islands       Polynesia                142
225         225             Western Sahara  NorthernAfrica             266000
226         226                      Yemen     WesternAsia             527968
227         227                     Zambia   EasternAfrica             752612
228         228                   Zimbabwe   EasternAfrica             390757

     Population in thousands (2017)  Population density (per km2, 2017)  \
0                             35530                                54.4
1                              2930                               106.9
2                             41318                             44272.0
3                                56                               278.2
4                                77                               163.8
..                              ...                                 ...
224                              12                                84.1
225                             553                             44198.0
226                           28250                                53.5
227                           17094                                23.0
228                           16530                                42.7

     Sex ratio (m per 100 f, 2017)  \
0                            106.3
1                            101.9
2                            102.0
3                            103.6
4                            102.3
..                             ...
224                           93.4
225                          110.1
226                          102.1
227                           98.5
228                           95.0

     GDP: Gross domestic product (million current US$)  \
0                                              20270.0
1                                              11541.0
2                                             164779.0
3                                                -99.0
4                                               2812.0
..                                                 ...
224                                              -99.0
225                                              -99.0
226                                            29688.0
227                                            21255.0
228                                            13893.0

    GDP growth rate (annual %, const. 2005 prices)  \
0                                             -2.4
1                                            44349
2                                            44411
3                                              -99
4                                              0.8
..                                             ...
224                                            -99
225                                            -99
226                                          -28.1
227                                          44441
228                                          44197

     GDP per capita (current US$) Economy: Agriculture (% of GVA)  \
0                           623.2                           44278
1                          3984.2                           44308
2                          4154.1                           44239
3                           -99.0                             -99
4                         39896.4                             0.5
..                            ...                             ...
224                         -99.0                             -99
225                         -99.0                             -99
226                        1106.4                           44391
227                        1311.1                           44235
228                         890.4                            13.0

     Economy: Industry (% of GVA)
0                         44278.0
1                            26.0
2                            37.3
3                           -99.0
4                         44418.0
..                            ...
224                         -99.0
225                         -99.0
226                          36.9
227                          32.3
228                       44346.0

[229 rows x 12 columns]

In [45]:
data={
    "name":["hassan","jahanzaib","immad","abbas"],
    "age":[10,20,30,40],
    "city":["faisalabad","haranwalw","lahore","multan"]
}
df=pd.DataFrame(data)
print(df)
# how to save the data in csv file
df.to_csv("output.csv",index=False)

# With index=True, it saves the left column (0, 1)
# With index=False, it saves only the data (no row numbers)

        name  age        city
0     hassan   10  faisalabad
1  jahanzaib   20   haranwalw
2      immad   30      lahore
3      abbas   40      multan